In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../../../data/uncapher_2016_repeated_measures_dataset.csv')

In [9]:
df.head()

,subjNum,groupStatus,numDist,conf,hitCount,allOldCount,rtHit,faCount,allNewCount,rtFA,distPresent,hitRate,faRate,dprime,mmi,adhd,bis
0,6,HMM,0,hi,18,25,0.990657,3,50,1.062458,nodist,0.711538,0.068627,2.043976,5.77,4,74
1,6,HMM,6,hi,14,25,0.951638,3,50,1.062458,dist,0.557692,0.068627,1.631213,5.77,4,74
2,10,HMM,0,hi,5,25,1.081535,8,50,1.036764,nodist,0.211538,0.166667,0.166327,6.21,4,51
3,10,HMM,6,hi,5,25,0.999527,8,50,1.036764,dist,0.211538,0.166667,0.166327,6.21,4,51
4,14,HMM,0,hi,3,25,2.346210,4,50,2.075087,nodist,0.134615,0.088235,0.246866,8.60,5,62

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   subjNum      136 non-null    int64
 1   groupStatus  136 non-null    object
 2   numDist      136 non-null    int64
 3   conf         136 non-null    object
 4   hitCount     136 non-null    int64
 5   allOldCount  136 non-null    int64
 6   rtHit        136 non-null    float64
 7   faCount      136 non-null    int64
 8   allNewCount  136 non-null    int64
 9   rtFA         114 non-null    float64
 10  distPresent  136 non-null    object
 11  hitRate      136 non-null    float64
 12  faRate       136 non-null    float64
 13  dprime       136 non-null    float64
 14  mmi          136 non-null    float64
 15  adhd         136 non-null    int64
 16  bis          136 non-null    int64
dtypes: float64(6), int64(8), object(3)
memory usage: 18.2+ KB

## Selecting Columns

In [11]:
# select columns by defining a list of columns
df_clean = df[["subjNum", "groupStatus", "adhd", "hitRate", "faRate", "dprime"]]

In [12]:
df_clean.head()

   subjNum groupStatus  adhd   hitRate    faRate    dprime
0        6         HMM     4  0.711538  0.068627  2.043976
1        6         HMM     4  0.557692  0.068627  1.631213
2       10         HMM     4  0.211538  0.166667  0.166327
3       10         HMM     4  0.211538  0.166667  0.166327
4       14         HMM     5  0.134615  0.088235  0.246866

In [13]:
type(df_clean)

pandas.core.frame.DataFrame

## Filtering rows!

In [14]:
df_clean.head()

   subjNum groupStatus  adhd   hitRate    faRate    dprime
0        6         HMM     4  0.711538  0.068627  2.043976
1        6         HMM     4  0.557692  0.068627  1.631213
2       10         HMM     4  0.211538  0.166667  0.166327
3       10         HMM     4  0.211538  0.166667  0.166327
4       14         HMM     5  0.134615  0.088235  0.246866

In [16]:
# test whether each value in the subjNum column is equal to 10
df_clean.subjNum == 10

0      False
1      False
2       True
3       True
4      False
       ...
131    False
132    False
133    False
134    False
135    False
Name: subjNum, Length: 136, dtype: bool

In [52]:
# filter to get only the rows of df_clean, where subjNum is 10
df_clean[df_clean.subjNum == 10]

   subjNum groupStatus  adhd   hitRate    faRate    dprime
2       10         HMM     4  0.211538  0.166667  0.166327
3       10         HMM     4  0.211538  0.166667  0.166327

In [53]:
# filter to get only the rows of df_clean, where subjNum is NOT 10
df_clean[df_clean.subjNum != 10]

     subjNum groupStatus  adhd   hitRate    faRate    dprime
0          6         HMM     4  0.711538  0.068627  2.043976
1          6         HMM     4  0.557692  0.068627  1.631213
4         14         HMM     5  0.134615  0.088235  0.246866
5         14         HMM     5  0.288462  0.088235  0.793817
6         15         HMM     3  0.403846  0.029412  1.646106
..       ...         ...   ...       ...       ...       ...
131      131         LMM     0  0.403846  0.107843  0.994676
132      132         LMM     2  0.365385  0.127451  0.794421
133      132         LMM     2  0.403846  0.127451  0.895119
134      136         LMM     3  0.326923  0.127451  0.690098
135      136         LMM     3  0.250000  0.127451  0.464034

[134 rows x 6 columns]

In [27]:
# what values are in the groupStatus column?
df_clean.groupStatus.unique()

array([4, 5, 3, 2, 0, 1])

In [19]:
df_clean[df_clean.groupStatus == 'LMM']

     subjNum groupStatus  adhd   hitRate    faRate    dprime
68         2         LMM     3  0.173077  0.049020  0.712359
69         2         LMM     3  0.480769  0.049020  1.606212
70         5         LMM     0  0.480769  0.029412  1.841287
71         5         LMM     0  0.326923  0.029412  1.441084
72         9         LMM     1  0.134615  0.049020  0.549599
..       ...         ...   ...       ...       ...       ...
131      131         LMM     0  0.403846  0.107843  0.994676
132      132         LMM     2  0.365385  0.127451  0.794421
133      132         LMM     2  0.403846  0.127451  0.895119
134      136         LMM     3  0.326923  0.127451  0.690098
135      136         LMM     3  0.250000  0.127451  0.464034

[68 rows x 6 columns]

In [28]:
df_no_outliers = df_clean[df_clean.hitRate >= .25]

In [37]:
df_no_outliers.describe()
df_clean.describe()

          subjNum        adhd     hitRate      faRate      dprime
count  136.000000  136.000000  136.000000  136.000000  136.000000
mean    72.676471    2.382353    0.350679    0.081603    1.133846
std     41.664779    1.651302    0.153422    0.073607    0.566277
min      2.000000    0.000000    0.057692    0.009804    0.047920
25%     38.500000    1.000000    0.250000    0.029412    0.712359
50%     73.000000    2.000000    0.326923    0.058824    1.094755
75%    108.500000    4.000000    0.442308    0.107843    1.545407
max    142.000000    5.000000    0.788462    0.362745    2.478890

In [48]:
# multiple filtering conditions
df_no_outliers = df_clean[(df_clean.hitRate >= .25) | (df_clean.groupStatus == 'LMM')]

In [49]:
df_no_outliers.describe()

          subjNum        adhd     hitRate      faRate      dprime
count  120.000000  120.000000  120.000000  120.000000  120.000000
mean    73.400000    2.333333    0.378846    0.083170    1.222191
std     40.983374    1.641547    0.139938    0.076280    0.529081
min      2.000000    0.000000    0.057692    0.009804    0.047920
25%     40.500000    1.000000    0.288462    0.029412    0.831914
50%     74.000000    2.000000    0.365385    0.068627    1.165923
75%    105.000000    4.000000    0.451923    0.107843    1.634936
max    142.000000    5.000000    0.788462    0.362745    2.478890

In [50]:
df_no_outliers.groupStatus.unique()

array(['HMM', 'LMM'], dtype=object)

In [56]:
df_clean.head()

   subjNum groupStatus  adhd   hitRate    faRate    dprime
0        6         HMM     4  0.711538  0.068627  2.043976
1        6         HMM     4  0.557692  0.068627  1.631213
2       10         HMM     4  0.211538  0.166667  0.166327
3       10         HMM     4  0.211538  0.166667  0.166327
4       14         HMM     5  0.134615  0.088235  0.246866

## remove subjNum of 10, 5, and 2

In [57]:
subs_to_remove = [10, 5, 2]


# give ONLY those participants using the .isin() method
df_clean[df_clean.subjNum.isin(subs_to_remove)]

    subjNum groupStatus  adhd   hitRate    faRate    dprime
2        10         HMM     4  0.211538  0.166667  0.166327
3        10         HMM     4  0.211538  0.166667  0.166327
68        2         LMM     3  0.173077  0.049020  0.712359
69        2         LMM     3  0.480769  0.049020  1.606212
70        5         LMM     0  0.480769  0.029412  1.841287
71        5         LMM     0  0.326923  0.029412  1.441084

In [58]:
# remove those participants
df_clean[-df_clean.subjNum.isin(subs_to_remove)]

     subjNum groupStatus  adhd   hitRate    faRate    dprime
0          6         HMM     4  0.711538  0.068627  2.043976
1          6         HMM     4  0.557692  0.068627  1.631213
4         14         HMM     5  0.134615  0.088235  0.246866
5         14         HMM     5  0.288462  0.088235  0.793817
6         15         HMM     3  0.403846  0.029412  1.646106
..       ...         ...   ...       ...       ...       ...
131      131         LMM     0  0.403846  0.107843  0.994676
132      132         LMM     2  0.365385  0.127451  0.794421
133      132         LMM     2  0.403846  0.127451  0.895119
134      136         LMM     3  0.326923  0.127451  0.690098
135      136         LMM     3  0.250000  0.127451  0.464034

[130 rows x 6 columns]

# Filter for hitrate between .25 and .75

In [60]:
df_clean[(df_clean.hitRate >= .25) & (df_clean.hitRate <= .75)]

     subjNum groupStatus  adhd   hitRate    faRate    dprime
0          6         HMM     4  0.711538  0.068627  2.043976
1          6         HMM     4  0.557692  0.068627  1.631213
5         14         HMM     5  0.288462  0.088235  0.793817
6         15         HMM     3  0.403846  0.029412  1.646106
7         15         HMM     3  0.365385  0.029412  1.545407
..       ...         ...   ...       ...       ...       ...
131      131         LMM     0  0.403846  0.107843  0.994676
132      132         LMM     2  0.365385  0.127451  0.794421
133      132         LMM     2  0.403846  0.127451  0.895119
134      136         LMM     3  0.326923  0.127451  0.690098
135      136         LMM     3  0.250000  0.127451  0.464034

[104 rows x 6 columns]

In [63]:
df_clean[(df_clean.hitRate <= .25) | (df_clean.hitRate >= .75)]

     subjNum groupStatus  adhd   hitRate    faRate    dprime
2         10         HMM     4  0.211538  0.166667  0.166327
3         10         HMM     4  0.211538  0.166667  0.166327
4         14         HMM     5  0.134615  0.088235  0.246866
8         20         HMM     2  0.057692  0.049020  0.079990
9         20         HMM     2  0.096154  0.049020  0.350652
10        22         HMM     4  0.250000  0.049020  0.979945
11        22         HMM     4  0.250000  0.049020  0.979945
13        26         HMM     0  0.173077  0.049020  0.712359
22        49         HMM     2  0.134615  0.049020  0.549599
23        49         HMM     2  0.057692  0.049020  0.079990
28        63         HMM     5  0.096154  0.068627  0.182309
35        71         HMM     5  0.788462  0.166667  1.768516
44       108         HMM     3  0.211538  0.127451  0.337429
45       108         HMM     3  0.250000  0.127451  0.464034
46       110         HMM     5  0.134615  0.009804  1.228933
47       110         HMM     5  0.134615  0.009804  1.228933
48       114         HMM     2  0.096154  0.029412  0.585727
49       114         HMM     2  0.134615  0.029412  0.784674
53       118         HMM     1  0.173077  0.068627  0.544016
59       127         HMM     3  0.250000  0.029412  1.215020
65       141         HMM     0  0.173077  0.107843  0.296005
68         2         LMM     3  0.173077  0.049020  0.712359
72         9         LMM     1  0.134615  0.049020  0.549599
73         9         LMM     1  0.211538  0.049020  0.853340
76        21         LMM     5  0.250000  0.049020  0.979945
85        36         LMM     2  0.211538  0.049020  0.853340
95        62         LMM     0  0.134615  0.009804  1.228933
98        74         LMM     4  0.211538  0.068627  0.684997
101       75         LMM     3  0.211538  0.009804  1.532674
102       77         LMM     5  0.250000  0.068627  0.811602
104       78         LMM     1  0.211538  0.068627  0.684997
105       78         LMM     1  0.173077  0.068627  0.544016
115       96         LMM     4  0.173077  0.088235  0.409626
117       99         LMM     0  0.096154  0.088235  0.047920
120      104         LMM     4  0.250000  0.009804  1.659279
121      104         LMM     4  0.134615  0.009804  1.228933
122      105         LMM     2  0.250000  0.049020  0.979945
123      105         LMM     2  0.211538  0.049020  0.853340
125      120         LMM     1  0.211538  0.029412  1.088415
128      124         LMM     0  0.250000  0.009804  1.659279
129      124         LMM     0  0.057692  0.009804  0.759324
135      136         LMM     3  0.250000  0.127451  0.464034

# Grouping data

`.groupby()`

In [65]:
df_clean.groupby(['groupStatus']).mean()

               subjNum      adhd   hitRate    faRate    dprime
groupStatus
HMM          74.852941  2.941176  0.345023  0.088235  1.032845
LMM          70.500000  1.823529  0.356335  0.074971  1.234847

In [69]:
df_clean.groupby(['adhd']).median()

      subjNum   hitRate    faRate    dprime
adhd
0        99.0  0.365385  0.068627  1.102826
1        79.0  0.403846  0.049020  1.236807
2        52.5  0.307692  0.049020  0.853340
3        78.0  0.365385  0.088235  0.960053
4        67.0  0.326923  0.068627  1.217471
5        74.0  0.288462  0.068627  1.162741

In [67]:
df_clean.adhd.unique()

array([4, 5, 3, 2, 0, 1])

In [71]:
df_clean.groupby(['subjNum']).mean()

         adhd   hitRate    faRate    dprime
subjNum
2           3  0.326923  0.049020  1.159285
5           0  0.403846  0.029412  1.641186
6           4  0.634615  0.068627  1.837594
9           1  0.173077  0.049020  0.701470
10          4  0.211538  0.166667  0.166327
...       ...       ...       ...       ...
136         3  0.288462  0.127451  0.577066
138         0  0.442308  0.029412  1.743696
139         4  0.326923  0.029412  1.438516
141         0  0.288462  0.107843  0.645340
142         3  0.461538  0.166667  0.870750

[68 rows x 4 columns]

In [72]:
# Grouping by multiple variables
df_clean.groupby(['adhd', 'groupStatus']).mean()

                    subjNum   hitRate    faRate    dprime
adhd groupStatus
0    HMM          98.750000  0.331731  0.068627  1.074820
     LMM          78.142857  0.362637  0.065826  1.251550
1    HMM          94.666667  0.339744  0.101307  0.913392
     LMM          70.727273  0.428322  0.093583  1.371434
2    HMM          62.200000  0.219231  0.088235  0.557235
     LMM          68.400000  0.338462  0.060784  1.221558
3    HMM          86.714286  0.390110  0.102241  1.151001
     LMM          61.000000  0.307692  0.092157  1.024576
4    HMM          56.444444  0.382479  0.088235  1.138803
     LMM          81.750000  0.259615  0.044118  1.210524
5    HMM          73.333333  0.352564  0.078431  1.164144
     LMM          49.000000  0.298077  0.058824  1.032696